<app-header titulo="cards"></app-header>

<ion-content paddign="paddign">
  <ion-card
    mode="ios"
    color="primary"
  >
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>

      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon
        color="light"
        slot="start"
        name="pin"
      ></ion-icon>

      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Maxime labore soluta voluptatibus, assumenda reiciendis 
       explicabo quasi vero similique sunt optio officia repellendus
        quo natus dolorem cum quaerat? Reiciendis, laudantium eligendi.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/shapes.svg"></ion-img>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores
       facilis, laboriosam unde obcaecati pariatur explicabo blanditiis
        voluptas quae minus officiis expedita fugiat distinctio dolorem
         cupiditate ipsa quidem! Expedita, facilis modi!
    </ion-card-content>
  </ion-card>
</ion-content>